## Importing the Libraries

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the Dataset

In [51]:
df = pd.read_csv("insurance.csv")
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

## Handling Missing Values

### 1- Identification

In [52]:
missing_values = df.isnull().sum()
missing_values

age         1
sex         2
bmi         1
children    0
smoker      0
region      0
charges     0
dtype: int64

### 2- Imputation methods

In [56]:
# using pandas
df['sex'].fillna(df['sex'].mode()[0], inplace=True)

missing_values_age = df['sex'].isnull().sum()
missing_values_age
df.head(10)

# using skitlearn
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# imputer.fit(X[:, :1])
# X[:, :1] = imputer.transform(X[:, :1])

         age     sex     bmi  children smoker     region      charges
0  19.000000  female     NaN         0    yes  southwest  16884.92400
1  18.000000    male  33.770         1     no  southeast   1725.55230
2  28.000000    male  33.000         3     no  southeast   4449.46200
3  39.211668    male  22.705         0     no  northwest  21984.47061
4  32.000000    male  28.880         0     no  northwest   3866.85520
5  31.000000    male  25.740         0     no  southeast   3756.62160
6  46.000000    male  33.440         1     no  southeast   8240.58960
7  37.000000  female  27.740         3     no  northwest   7281.50560
8  37.000000    male  29.830         2     no  northeast   6406.41070
9  60.000000  female  25.840         0     no  northwest  28923.13692

### 3- Deletion strategies

## Encoding Variables

### 1- Independent Variable

### 2- Dependent Variable

## Splitting the Dataset

## Feature Scaling

### 1- Normalization

### 2- Standardization

## Feature Selection